<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Patiala Salwar <!-- <span class="badge">16</span> --></h1>
  <small class="text-muted">Customized style</small>
</div>
<div class="wrapper-md" ng-controller="LoginModalCtrl">
  <div class="row">
    <div class="col-lg-7"> 
      <table class="table table-border bg-white-only b-a">
        <tbody>
          <tr class="bg-light lt">
            <td colspan="2">Product info</td>
          </tr>
          <tr>
            <td><strong>Item name</strong></td>
            <td>{{cnf.itemName}}</td>
          </tr>
          <tr>
            <td><strong>Description</strong></td>
            <td>{{cnf.itemDescription}}</td>
          </tr>
          <tr>
            <td><strong>Item Id</strong></td>
            <td>{{cnf.itemId}}</td>
          </tr>
          <tr class="bg-light lt">
            <td colspan="2">Measurements</td>
          </tr>
          <tr ng-repeat="item in cnf.measures">
            <td><strong>{{item.key}}</strong></td>
            <td>{{item.value}} " (inches)</td>
          </tr>
        </tbody>
      </table>

      <!-- item images start -->
      <div class="row" ng-init="items=['fneck/1.jpg','bneck/1.jpg','sleeve/1 (3).jpg']">
        <div class="col-sm-4" ng-repeat="itm in items">
          <div class="panel b-a img-p p-m-b">
            <div class="item m-l-n-xxs m-r-n-xxs img-c">
              <div class="bottom wrapper bg-gd-dk text-white a-w">            
                
              </div>
              <img ng-src="ext-imgs/{{itm}}"/>
            </div>
            <div class="hbox text-center b-b b-light text-sm">          
              <a href="" class="col padder-c text-muted b-r b-light">
                <span>Light Peach </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <h1></h1>
      <!-- /sleeve-style-selection -->
      <div class="btn-group btn-group-justified">
        <label class="btn btn-primary" ng-click="addToCart()">Add to Cart</label>
        <label class="btn btn-default" ng-click="backToCustomize()">Customize</label>
      </div> 
      <!-- proceed to next button -->      
    </div>
    <div class="col-lg-5">
      <!-- progressbar -->
      <div ng-controller="ProgressDemoCtrl" class="panel panel-default">
        <div class="panel-heading">
          <ul class="nav nav-pills pull-right">
            <li><a href ng-click="random()">Random</a></li>
            <li><a href ng-click="randomStacked()">Stack</a></li>
          </ul>
          Progressbar
        </div>
        <div class="list-group">
          
        </div>
      </div>
      <!-- / progressbar -->
    </div>
  </div>
</div>
<!-- login and register popup -->
