.item.active-item {
	border: 3px solid red;
}
.item.mr {
	margin: -1px;
}
.panel-heading.bg-primary {
	background-color: #7266ba;
}
.panel-heading.slide {
	padding: 7px 15px;
}
.no-margin {
	margin: 0;
}
.popover-content {
  padding: 0;
}
.popover-content .panel {
	margin-bottom: 0;
}
button.badge {
	border: none;
	margin-right: 5px;
}

/*stc-slider styles*/
 input[type="range"].stc-slider-slr {
	width:80%;
	display:inline-block;
}
.stc-slider-val {
	width: 18%;
	display: inline-block;
	padding: 6px;
	float: right;
}

/*Modal custom css*/
.modal-content {
	border: none;
}
.modal-header h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}
.modal-header button.close {
	margin-top: 9px;
}

.row.login-modal{
	margin-left: 0;
	margin-right: 0
}
.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 16px;
  height: 16px;
  background: url(img/modal-close.png) center center no-repeat;
  cursor: pointer;
  z-index: 1000;
}
.login-modal .wrapper{
	margin-top: 20px;
}
.login-modal .list-group {
	margin-bottom: 0;
}
.login-modal .f-password {
	margin-bottom: 15px;
	float: right;
}
.login-modal .f-password.m-t {
	margin-top: 5px;
}
.login-modal .f-password.m-b {
	margin-top: 5px;
}
a.login {
	cursor: pointer;
  color: #65c6bb;
}
.line-dashed {
  border-style: dashed !important;
  background-color: #eee;
  border-width: 0;
  margin-top: 20px;
}

@media screen and (min-width: 980px) /* Desktop */ {
  .modal-login {
	  width: 800px;
	}
	.wrapper-md.index {
    padding: 10px;
	}
	.social {
		margin:100px 20px 0;
	}
	.checkmark {
		top: 15px;
  	left: 13px;
  	width: 22px;
  	height: 22px;
	}
	.checkmark_circle {
	  position: absolute;
	  width:22px;
	  height:22px;
	  background-color: #eee;
	  border-radius:11px;
	  left:0;
	  top:0;
	}

	.checkmark_stem {
	  position: absolute;
    width: 3px;
    height: 12px;
    background-color: #fff;
    left: 11px;
    top: 4px;
	}

	.checkmark_kick {
	  position: absolute;
    width: 7px;
    height: 3px;
    background-color: #fff;
    left: 6px;
    top: 13px;
	}
}

@media screen and (max-width: 979px) /* Tablet */ {
  .modal-login {
	  width: 100%;
	}
	.wrapper-md.index {
    padding: 10px;
	}
	.checkmark {
		top: 25px;
  	left: 25px;
  	width: 30px;
  	height: 30px;
	}
	.checkmark_circle {
	  position: absolute;
	  width: 30px;
	  height: 30px;
	  background-color: #eee;
	  border-radius: 50%;
	  left:0;
	  top:0;
	}

	.checkmark_stem {
	  position: absolute;
	  width: 4px;
	  height: 17px;
	  background-color:#fff;
	  left: 16px;
	  top: 4px;
	}

	.checkmark_kick {
	  position: absolute;
	  width: 7px;
	  height: 4px;
	  background-color:#fff;
	  left: 10px;
	  top: 17px;
	}
}

@media screen and (max-width: 500px) /* Mobile */ {
  .modal-login {
	  width: 95%;
	}
	.wrapper-md.index {
    padding: 0;
	}
	.social {
		margin-top:0;
	}
	.checkmark {
		top: 15px;
  	left: 13px;
  	width: 22px;
 		height: 22px;
	}
	.checkmark_circle {
	  position: absolute;
	  width:22px;
	  height:22px;
	  background-color: #eee;
	  border-radius:11px;
	  left:0;
	  top:0;
	}

	.checkmark_stem {
	  position: absolute;
	  width:3px;
	  height:9px;
	  background-color:#fff;
	  left:11px;
	  top:6px;
	}

	.checkmark_kick {
	  position: absolute;
	  width:3px;
	  height:3px;
	  background-color:#fff;
	  left:8px;
	  top:12px;
	}
}

.img-c {
	text-align: center;
}
.img-p .panel-heading {
	padding: 6px 15px;
	margin: -1px -1px 6px -1px;
}

.shipping-c.panel-body {
	width: 90%;
}
.shipping-c .form-group [class*="col-"] {
	padding-right: 0;
}
.line-dashed.m-t {
	margin-top: 0;
}

.panel.owl-c {
	margin-left: 1px;
	margin-right: 1px;
}
.wrapper.a-w {
	width: 100%;
}
.avl-size {
  visibility: hidden;
  background: #000;
  font-size: 11px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 1px;
  opacity: 0.68;
  filter: alpha(opacity=70);
  word-wrap: break-word;
  padding: 5px 10px;
  width: 100%;
}
.btn.vw-dl {
	visibility: hidden;
	position: relative;
	top: -100px;
}
.panel.p-m-b {
	margin-bottom: -2px;
}
img.view-details {
  z-index: 0;
  height: 296px;
  width: 220px;
  float: right;
  background-image: none;
}
.modal .ovarlay {
  position: fixed;
  background: #333;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: .5;
  filter: alpha(opacity=50);
  width: 100%;
  height: 100%;
  _position: absolute;
}
.padder-c {
	padding-top: 5px;
	padding-bottom: 5px;
}
.panel-heading.slide-c {
	padding: 5px 15px;
}

.checkmark {
  display: inline-block;
  position: absolute;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 2;
}

.checkmark.active .checkmark_circle {
  background-color: green;
}
.hover:hover {
	cursor: pointer;
}

/*View details page*/
.price {
  text-align: right;
  font-size: 26px;
  color: #ff7201;
  width: 140px;
  margin-bottom: 3px;
}
/*.nav-tabs > .uib-tab.active > div {
	padding: 10px 15px;
	border-color: #eee #eee #ddd;
}
.nav-tabs > .uib-tab > div {
	padding: 8px 15px;
	border-color: #ddd #ddd transparent #ddd;
}
.uib-tab > div {
  position: relative;
  display: block;
  padding: 10px 15px;
  outline: 0;
  color: #337ab7;
}*/