.item.mr.active-item {
	border: 3px solid red;
	margin: 0;
}
.item.mr {
	margin: -1px;
}
.panel-heading.bg-primary {
	background-color: #7266ba;
}
.panel-heading.slide {
	padding: 7px 15px;
}
.no-margin {
	margin: 0;
}
.popover-content {
  padding: 0;
}
.popover-content .panel {
	margin-bottom: 0;
}
button.badge {
	border: none;
	margin-right: 5px;
}

/*stc-slider styles*/
 input[type="range"].stc-slider-slr {
	width:80%;
	display:inline-block;
}
.stc-slider-val {
	width: 18%;
	display: inline-block;
	padding: 6px;
	float: right;
}

/*Modal custom css*/
.modal-header h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}
.modal-header button.close {
	margin-top: 9px;
}

.row.login-modal{
	margin-left: 0;
	margin-right: 0
}
.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 16px;
  height: 16px;
  background: url(img/modal-close.png) center center no-repeat;
  cursor: pointer;
  z-index: 1000;
}
.login-modal .wrapper{
	margin-top: 20px;
}
.login-modal .list-group {
	margin-bottom: 0;
}
.login-modal .f-password {
	margin-bottom: 15px;
	float: right;
}
.login-modal .f-password.m-t {
	margin-top: 5px;
}
.login-modal .f-password.m-b {
	margin-top: 5px;
}
a.login {
	cursor: pointer;
  color: #65c6bb;
}
.line-dashed {
  border-style: dashed !important;
  background-color: #eee;
  border-width: 0;
  margin-top: 20px;
}

@media screen and (min-width: 980px) /* Desktop */ {
  .modal-login {
	  width: 800px;
	  background-color: cyan;
	}
	.wrapper-md.index {
    padding: 10px;
	}
	.social {
		margin:100px 20px 0;
	}
}

@media screen and (max-width: 979px) /* Tablet */ {
  .modal-login {
	  width: 100%;
	  background-color: yellow;
	}
	.wrapper-md.index {
    padding: 10px;
	}
}

@media screen and (max-width: 500px) /* Mobile */ {
  .modal-login {
	  width: 95%;
	}
	.wrapper-md.index {
    padding: 0;
	}
	.social {
		margin-top:0;
	}
}

.img-c {
	text-align: center;
}
.img-p .panel-heading {
	padding: 6px 15px;
	margin: -1px -1px 6px -1px;
}

.shipping-c.panel-body {
	width: 90%;
}
.shipping-c .form-group [class*="col-"] {
	padding-right: 0;
}
.line-dashed.m-t {
	margin-top: 0;
}

.panel.owl-c {
	margin-left: 1px;
	margin-right: 1px;
}
.wrapper.a-w {
	width: 100%;
}
.avlableSize {
  display: block;
  background: #000;
  font-size: 11px;
  color: #fff;
  position: absolute;
  bottom: 7px;
  left: 0;
  opacity: .68;
  width: 151px;
  filter: alpha(opacity=70);
  word-wrap: break-word;
  padding: 5px 10px;
}
.avl-size {
  visibility: hidden;
  background: #000;
  font-size: 11px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 1px;
  opacity: 0.68;
  filter: alpha(opacity=70);
  word-wrap: break-word;
  padding: 5px 10px;
  width: 100%;
}
.btn.vw-dl {
	visibility: hidden;
	position: relative;
	top: -100px;
}
.panel.p-m-b {
	margin-bottom: -2px;
}
img.view-details {
  z-index: 0;
  height: 296px;
  width: 220px;
  float: right;
  background-image: none;
}